/*estilos globales*/
* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
}
.overlay {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.product:hover .overlay {
  opacity: 1;
}

.overlay p { /* estilo del texto que se muestra al pasar el mouse */
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(244, 67, 54);
  font-size: 1.3rem;
  text-align: center;
}

footer {
  background-color: rgba(2,5,24,0.9);
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  height: 5%;
  font-size: 20px;
  padding: 30px;
  color: white;
}
footer a{
  color: white;
}
.footer-icons {
  display: flex;
  justify-content: center;
}

.footer-icons i {
  font-size: 60px;
  margin: 10px;
  border-radius: 50%;
  background-color: black;
  padding: 10px;
}
/*fondo para nuestro div*/
div{
    background-color: rgba(2,5,24,1.0);
}
/*estilos generales*/
body {
  
    color: rgb(250,251,249);
    background-image: url(fondo1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    }
/*estilos para el header*/
header {
    background-color: rgba(2,5,24,0.9);    
    padding: 20px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/*inicio de estilos para la barra de navegacion*/
nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-right: 20px;
    font-size: 24px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(250,251,249);
    transition: all 0.3s ease-in-out;
}

nav ul li a:hover {
    color: #f44336;
}
main {
    width: 80%;
    margin: 0 auto;
}


/*inicio de estilos para los contenedores de las imagenes de zapatos*/
.products {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
}

.products h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.product-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product {
    flex-basis: 280px;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
}

.product img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20%;
}

.product h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.product h4 {
    font-size: 20px;
    color: #f44336;
    font-weight: bold;
    margin-bottom: 20px;
}
/*fin de estilos para los contenedores de imagenes zapatos*/
.menu-toggle{
  display: none;
}
@media(max-width: 600px) { /* Definimos las reglas para una pantalla de máximo 768px */
      main {
    width: 100%;
    margin: 0 auto;
          *{
              font-size:1.5rem;
          }
}

      nav ul {
        flex-direction: column; /* Alineamos los elementos verticalmente */
        background-color: rgba(2,5,24,1.0); /* Cambiamos el color de fondo */
        position: absolute; /* Definimos la posición como absoluta */
        top: 40px; /* Colocamos el menú debajo del botón */
        left: 0; /* Lo alineamos a la izquierda */
        right: 0; /* Lo alineamos a la derecha */
        visibility: hidden; /* Lo hacemos invisible por defecto */
        opacity: 0; /* Lo hacemos completamente transparente */
        transition: all 0.5s ease-in-out; /* Añadimos efectos para la transición */
      }
      
      nav li {
        margin: 10px 0; /* Espacio entre elementos */
      }
      
      nav a {
        font-family: Arial, sans-serif;
        color: rgb(251,252,253); /* Color del texto */
        text-decoration: none; /* Quitamos el subrayado */
        text-transform: uppercase; /* Convertimos el texto a mayúsculas */
        font-size: 0.7rem; /* Ampliamos el tamaño de fuente */
      }
      
      nav .menu-toggle:checked + ul {
        visibility: visible; /* Hacemos el menú visible cuando el botón correspondiente está activado */
        opacity: 1; /* Lo hacemos completamente visible */
      }
      
      nav .menu-toggle {
        display: block; /* Mostramos el botón del menú */
        position: absolute; /* Definimos su posición como absoluta */
        top: 10px; /* Lo posicionamos en la parte superior */
        right: 10px; /* Lo posicionamos en la parte derecha */
        height: 30px; /* Definimos su altura */
        width: 30px; /* Definimos su anchura */
        cursor: pointer; /* Añadimos cursor personalizado */
        z-index: 1; /* Lo colocamos por encima de los demás elementos */
        background-color: rgba(2,5,24,0.9); /* Definimos un color de fondo */
        border: none; /* Quitamos el borde */
      }
      
      nav .menu-toggle:before {
        content: ""; /* Añadimos un icono de barras */
        font-family: "Font Awesome 5 Free"; /* Incluimos la fuente de Font Awesome */
        font-weight: bold; /* Definimos el peso de la fuente */
        font-size: 0.7rem; /* Definimos el tamaño de la fuente */
        color: #333; /* Definimos el color del icono */
        display: inline-block; /* Permitimos manipular su contenido */
        height: 30px; /* Definimos su altura */
        line-height: 30px; /* Definimos la altura de línea */
        text-align: center; /* Alineamos el texto */
      }
      .product-row {
    margin-left:0px ;
    margin-right:0px;

}
.product {
    padding: 0px;
    width: 90%;
    flex-basis: 100%;
    margin-bottom:0px; 
    margin-right:0px; 
    border:0px;
}
     nav{
  width: 100%;
  max-width: 100%;
}
.product img {
    max-width: 90%;
    height: auto;
    margin-bottom: 5%;
    margin-top: 6%;
}
    }
/*fin de estilos para la barra de navegacion*/
